MP1_Search/mp1.1MazeFiles/
MP1_Search/mp1.2MazeFiles/
__pycache__/
MP3_Pattern_Recognition/*.pdf
MP3_Pattern_Recognition/neural-networks-and-deep-learning-master.zip
*.html
MP3_Pattern_Recognition/*.pyc
MP3_Pattern_Recognition/.DS_Store
MP3_Pattern_Recognition/Data/.DS_Store


MP1_Search/koszarek_szymon_a1.pdf
MP1_Search/koszarek_szymon_a1.zip
MP2_Planning_Games/Koszarek_Szymon_A1.pdf
MP2_Planning_Games/Koszarek_Szymon_A1.zip
MP3_Pattern_Recognition/Koszarek_Szymon_A1.zip
MP3_Pattern_Recognition/Koszarek_Szymon_A1.pdf
